<!--About section -->
<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Revueltas</h3>
        <p class="display-5 py-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quis hic provident officia quidem reprehenderit, exercitationem at facere facilis sequi! Explicabo rem ea eum aliquid enim commodi doloremque necessitatibus corrupti inventore dolor nostrum minima, voluptas, libero exercitationem eligendi voluptatibus numquam placeat debitis at consequuntur? Odio, amet vel. Officia, asperiores laboriosam!</p>
    </div>
</div>   
</section>

<!--El equipo-->

<section id="authors" class="my-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="display-3 pb-3">
                        Colaboradores
                    </h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro enim quae inventore, ad placeat obcaecati?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/angel.jpg" alt="" class="img-fluid rounded-circle cropped1 w-50 mb-3">
                        <h3>Angel Melgoza</h3>
                        <p>Periodista. Ha colaborado en medios impresos, digitales y radiofónicos. Le interesan las historias relacionadas con medio ambiente, comunidad y política. Es fundador de Revueltas.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="http://angelmelgoza.com/">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                            <div class="p-3">
                            <a href="https://twitter.com/ARMelgoza">
                                <i class="fab fa-twitter"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card num2">
                    <div class="card-body">
                        <img src="assets/Adriana-Camarena.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                        <h3>Adriana Camarena </h3>
                        <p>Exploradora de tierras pobladas de palabras. Diseñadora integral con especialidad en edición, investigación y desarrollo de metodologías para la transmisión del conocimiento. Interesada en el arte y sus manifestaciones; discípula en estudios de filosofía y semiótica. Desarrollo talleres, material educativo, ambientes y libros en formatos no convencionales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card num3">
                    <div class="card-body">
                        <img src="assets/Conrado-Romo.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                        <h3>Conrado Romo </h3>
                        <p>Se ha desarrollado en campos como la planeación metropolitana, la seguridad humana, la propaganda política y la innovación ciudadana. Ha sido residente de Medialab Prado y fue asesor de proyectos en el Encuentro de Labs Iberoamericanos. Trabaja en análisis y visualización de datos.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="http://www.cocinacivica.org/">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                        <div class="p-3">
                            <a href="https://twitter.com/conco02">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4">
            <div class="card num4">
                <div class="card-body">
                    <img src="assets/Eduardo-Mosqueda.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Eduardo Mosqueda </h3>
                    <p>Abogado con nueve años de experiencia en la defensa y promoción de los Derechos Humanos. Especializado en la defensa legal contra megaproyectos en apoyo de comunidades urbanas o rurales, así como, en la protección de defensores de derechos humanos, educación ambiental y creación de política pública.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="https://twitter.com/Mosqueda_EA ">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num5">
                <div class="card-body">
                    <img src="assets/Nicolas-Rojas.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Nicolás Rojas</h3>
                    <p>Cineasta nacido en Yosonuviko, Oaxaca, México 1984. Guionista, director y productor de Snuu viko, el lugar de las nubes y algunas palabras perdidas (2008); Música para después de dormir (2013); Tuyuku (2019); y Ñuu Kanda (2020). </p>
                    <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="https://www.filminlatino.mx/director/nicolas-rojas-sanchez">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num6">
                <div class="card-body">
                    <img src="assets/Ariadna-Mogollon.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Ariadna Mogollón </h3>
                    <p>Es cofundadora de JEQO, espacio de aprendizaje autogestivo de cine comunitario y feminista del Abya Yala. En Venezuela fundó la cooperativa La Conjura Audiovisual, impulsó la Asociación Venezolana de Documentalistas, AVDOC y trabajó en gestión cultural en diversas instituciones.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-lg-4 col-md-4">
            <div class="card num1">
                <div class="card-body">
                    <img src="assets/CHINGUASPUL.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>CHINGUASPUL </h3>
                    <p>Somos Mariana y Paula, un dúo de diseñadoras gráficas oriundas de la Perla de Occidente. También hacemos DJ set bajo el nombre de COSMOGEISHA.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card num2">
                <div class="card-body">
                    <img src="assets/Mariana-Mora.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Mariana Mora </h3>
                    <p>Periodista y fotógrafa interesada en temas de género, defensa del territorio y resistencias cotidianas. Le gusta explorar diferentes narrativas para abordar y tratar de incidir en el sistema-mundo. Cree en los futuros posibles gracias al periodismo de soluciones y a los feminismos.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="https://www.instagram.com/jugo.demora/  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card num3">
                <div class="card-body">
                    <img src="assets/Victoria-Gallardo.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3> Victoria Gallardo </h3>
                    <p>Diseñadora gráfica y gestora cultural. Enfocada en proyectos editoriales, morfología de la letra e identidad visual. Coordinadora de proyectos culturales y experiencias emocionales a través de la expresión artística; docente universitaria, apasionada por la educación “sentipensante”. Me interesa propiciar comunidades de diálogo para la niñez, donde se habite, se comparta y se explore la libertad del pensamiento propio y colectivo.</p>
                </div>
            </div>
        </div>


    </div>
</div>
</section>
