<!--About section -->
<section class="py-5">
<div class="primary-overlay text-black text-center">
        <div class="container">
        <h3 class="display-3 py-5">Revueltas</h3>
        <p class="display-5 py-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quis hic provident officia quidem reprehenderit, exercitationem at facere facilis sequi! Explicabo rem ea eum aliquid enim commodi doloremque necessitatibus corrupti inventore dolor nostrum minima, voluptas, libero exercitationem eligendi voluptatibus numquam placeat debitis at consequuntur? Odio, amet vel. Officia, asperiores laboriosam!</p>
        </div>
    </div>   
</section>

<!--El equipo-->

<section id="authors" class="my-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="display-3 pb-3">
                        El Equipo
                    </h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro enim quae inventore, ad placeat obcaecati?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/team1.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Angel Melgoza</h3>
                        <h5 class="text-muted">Co-fundador y Director</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates numquam repellendus ad amet cupiditate aut.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/team2.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Enrique Godinez</h3>
                        <h5 class="text-muted">Amigovio</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates numquam repellendus ad amet cupiditate aut.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
