<!--About section -->
<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Revueltas</h3>
        <p class="display-5 py-2">Esta iniciativa nació en 2018 con la intención de reunir herramientas del arte, la filosofía y la política para repensar nuestra forma de relacionarnos con nosotros mismos, con otras personas y con nuestros entornos. Estamos comprometidos con el ejercicio creativo, el pensamiento crítico y la acción. Somos un grupo diverso que ha trabajado en distintos momentos juntos, conócenos.</p>
    </div>
</div>   
</section>

<!--El equipo-->

<section id="authors" class="my-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="display-3 pb-3">
                        Colaboradores
                    </h1>
                    <p class="lead">Conoce a toda la banda que esta detrás de este proyecto :) </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/angel.jpg" alt="" class="img-fluid rounded-circle cropped1 w-50 mb-3">
                        <h3>A.R. Melgoza</h3>
                        <p>Periodista. Ha colaborado en medios impresos, digitales y radiofónicos. Le interesan las historias relacionadas con medio ambiente, comunidad y política. Es fundador de Revueltas.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="http://angelmelgoza.com/">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                            <div class="p-3">
                            <a href="https://twitter.com/ARMelgoza">
                                <i class="fab fa-twitter"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card num2">
                    <div class="card-body">
                        <img src="assets/Fernanda-Barragan.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                        <h3>Fernanda Barragán Glez. Luna </h3>
                        <p>Coordina Revueltas. Le encanta hacer cosas nuevas que implique crear estrategias. Recién egresada de Comunicación Pública por la UdeG con aspiraciones a estudiar muchas cosas más. Ha sido voluntaria en una de las radios comunitarias más emblemáticas del país y es parte de una organización juvenil nacional. Transcribir, leer y aprender son sus actividades favoritas.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                            <a href="https://twitter.com/ferbarragan3">
                            <i class="fab fa-twitter"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card num3">
                    <div class="card-body">
                        <img src="assets/Conrado-Romo.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                        <h3>Conrado Romo </h3>
                        <p>Se ha desarrollado en campos como la planeación metropolitana, la seguridad humana, la propaganda política y la innovación ciudadana. Ha sido residente de Medialab Prado y fue asesor de proyectos en el Encuentro de Labs Iberoamericanos. Trabaja en análisis y visualización de datos.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="http://www.cocinacivica.org/">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                        <div class="p-3">
                            <a href="https://twitter.com/conco02">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4">
            <div class="card num4">
                <div class="card-body">
                    <img src="assets/Eduardo-Mosqueda.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Eduardo Mosqueda </h3>
                    <p>Abogado con nueve años de experiencia en la defensa y promoción de los Derechos Humanos. Especializado en la defensa legal contra megaproyectos en apoyo de comunidades urbanas o rurales, así como, en la protección de defensores de derechos humanos, educación ambiental y creación de política pública.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="https://twitter.com/Mosqueda_EA ">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num5">
                <div class="card-body">
                    <img src="assets/Nicolas-Rojas.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Nicolás Rojas</h3>
                    <p>Cineasta nacido en Yosonuviko, Oaxaca, México 1984. Guionista, director y productor de Snuu viko, el lugar de las nubes y algunas palabras perdidas (2008); Música para después de dormir (2013); Tuyuku (2019); y Ñuu Kanda (2020). </p>
                    <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="https://www.filminlatino.mx/director/nicolas-rojas-sanchez">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num6">
                <div class="card-body">
                    <img src="assets/Ariadna-Mogollon.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Ariadna Mogollón </h3>
                    <p>Es productora cinematográfica. Cofundadora de JEQO, espacio de aprendizaje autogestivo de cine comunitario y feminista del Abya Yala. Trabaja en gestión cultural y desarrolla textos-imágenes en su blog personal. En Venezuela fundó la cooperativa La Conjura Audiovisual e impulsó la Asociación Venezolana de Documentalistas, AVEDOC.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="http://www.ariadnamogollon.wordpress.com/">
                            <i class="far fa-address-card"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-lg-4 col-md-4">
            <div class="card num1">
                <div class="card-body">
                    <img src="assets/CHINGUASPUL.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>CHINGUASPUL </h3>
                    <p>Somos Mariana y Paula, un dúo de diseñadoras gráficas oriundas de la Perla de Occidente. También hacemos DJ set bajo el nombre de COSMOGEISHA.</p>
                    <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="https://www.behance.net/chinguaspul ">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                            <div class="p-3">
                            <a href="https://www.instagram.com/chinguaspul/ ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card num2">
                <div class="card-body">
                    <img src="assets/Mariana-Mora.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Mariana Mora </h3>
                    <p>Periodista y fotógrafa interesada en temas de género, defensa del territorio y resistencias cotidianas. Le gusta explorar diferentes narrativas para abordar y tratar de incidir en el sistema-mundo. Cree en los futuros posibles gracias al periodismo de soluciones y a los feminismos.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="https://www.instagram.com/jugo.demora/  ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card num3">
                <div class="card-body">
                    <img src="assets/Victoria-Gallardo.jpeg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3> Victoria Gallardo </h3>
                    <p>Diseñadora gráfica y gestora cultural. Enfocada en proyectos editoriales, morfología de la letra e identidad visual. Coordinadora de proyectos culturales y experiencias emocionales a través de la expresión artística; docente universitaria, apasionada por la educación “sentipensante”. Me interesa propiciar comunidades de diálogo para la niñez, donde se habite, se comparta y se explore la libertad del pensamiento propio y colectivo.</p>
                </div>
            </div>
        </div>


    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4">
            <div class="card num4">
                <div class="card-body">
                    <img src="assets/Zaria-Casillas.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Zariá Casillas Olivares </h3>
                    <p>Licenciada en Comunicación Pública y maestra en Ciencias Sociales con orientación en Comunicación y Cultura por la Universidad de Guadalajara. Se ha desempeñado como investigadora en estudios cualitativos y de argumentación sobre niñez y discriminación; así como en proyectos de evaluación de prácticas y políticas educativas. Gestora de proyectos de intervención social en materia de Derechos Humanos y no discriminación, especialmente con niñez y juventud.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="https://twitter.com/zaricim">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="p-3">
                            <a href="https://www.instagram.com/zariacim/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num5">
                <div class="card-body">
                    <img src="assets/Elvira-Gonzalez.png" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Elvira González </h3>
                    <p>Amante del asombro y exploradora de la conducta humana. Formación profesional en Psicología, Diplomada en Filosofía Para Niños, Educación para la Paz e instructora de Yoga. Se ha desenvuelto en el ámbito de la educación porque cree firmemente que es un medio para transformar ideas, creencias, prácticas de vida… Seres Humanos. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num6">
                <div class="card-body">
                    <img src="assets/Lu-Garibay.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Lu Garibay</h3>
                    <p>Vocalista, multinstrumentista​ y productora egresada de las carreras de Producción e Ingeniería Musical y Composición en Jazz del Berklee College of Music. Al egresar se mudó a Berlín para trabajar en el reconocido Funkhaus Studio, donde trabajó con artistas como Bertrant Cantant y Chico Trujillo. En 2017 fue invitada a trabajar en Abbey Road (UK) con la banda española The Grooband. Desde finales de dicho año se mudo a Guadalajara para trabajar con proyectos nacionales y lanzar la banda Dakota’s Magic en donde funge como productora, compositora y vocalista.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/ines.jpeg" alt="" class="img-fluid rounded-circle cropped1 w-50 mb-3">
                        <h3>Inés Magaña </h3>
                        <p>Fotógrafa y documentalista. Utiliza la combinación de palabras y fotografías para transmitir la personalidad de diversas marcas o personajes públicos. Le interesan los puntos de encuentro donde la naturaleza y el humano coinciden.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="https://www.instagram.com/inesmedicen/ ">
                                <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card num2">
                    <div class="card-body">
                        <img src="assets/Adriana-Camarena.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                        <h3>Adriana Camarena </h3>
                        <p>Exploradora de tierras pobladas de palabras. Diseñadora integral con especialidad en edición, investigación y desarrollo de metodologías para la transmisión del conocimiento. Interesada en el arte y sus manifestaciones; discípula en estudios de filosofía y semiótica. Desarrollo talleres, material educativo, ambientes y libros en formatos no convencionales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card num3">
                    <div class="card-body">
                        <img src="assets/ruby.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                        <h3>Ruby González Jáuregui  </h3>
                        <p>Licenciada en artes visuales para la expresión plástica. Se desempeña como creadora y docente de la Escuela de Artes de la Secretaría de Cultura de Jalisco. Ha trabajado distintos enfoques en el arte desde lo práctico hasta interviniendo en terapias con niños que tienen necesidades psicoeducativas especiales. Recientemente se ha enfocado en la teoría e historia del arte, dándole lectura no solo desde la práctica sino también desde las Ciencias Sociales. Ha impartido el curso en línea Lo inmoral y lo no ético en el arte, una lectura filosófica sobre la historia del arte contemporáneo.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-3">
                            <a href="https://www.instagram.com/rubygjauregui/ ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

      <div class="row mt-5">
        <div class="col-lg-4 col-md-4">
            <div class="card num4">
                <div class="card-body">
                    <img src="assets/Alfonso.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Alfonso Castañeda García</h3>
                    <p>Estudió la licenciatura en Artes Visuales para la Expresión Plástica en la Universidad de Guadalajara. Desde el 2015 comenzó con la idea del uso de la serigrafía en el arte, durante el 2016 colaboró en las ediciones Axolotl donde conoció el campo real de esta disciplina en Guadalajara y ese mismo año comenzó el proyecto Estudio Taller Amapola imprimiendo en colaboración con artistas urbanos y contemporáneos. En Amapola él da solución a los problemas técnicos de crear un proyecto artístico en serigrafía.</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-3">
                            <a href="https://www.instagram.com/estudio.taller.amapola/ ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card num5">
                <div class="card-body">
                    <img src="assets/Emilie.jpg" alt="" class="img-fluid cropped1 rounded-circle w-50 mb-3">
                    <h3>Émilie Klein</h3>
                    <p>Diseñadora gráfica especializada en impresión de la escuela Estienne en París que posteriormente realizó una maestría en diseño sustentable. Ahora experimenta la identidad visual para proyectos sociales y marcas locales en Guadalajara. Además de eso explora la impresión manual en serigrafía en Alcanfor Estudio.</p>
                    <div class="d-flex justify-content-center">
                            <div class="p-3">
                                <a href="https://www.alcanforestudio.com/ ">
                                <i class="far fa-address-card"></i>
                                </a>
                            </div>
                            <div class="p-3">
                                <a href="https://www.instagram.com/_klein.e/">
                                <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
