<!-- Home -->
<section class="py-5" id="homeeducation">
  <div class="primary-overlay text-black">
    <div class="container">
          <h1 class="display-3 mt-5 pt-5 text-center"> Producimos contenido audiovisual de alta calidad técnica y creativa.  </h1>
          <p class="lead mt-1 pt-1 text-center">Conoce más de nuestros dos grandes proyectos.</p>
          <a class="nav-link-4 button-test btn btn-primary mt-3"  href="#audiosivual-2" role="button">Conoce más</a>
    </div>
  </div>
</section>

<!--Section 1 -->

<section id="audiosivual-1" class="bg-light text-muted py-5 pt-8">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/fpn.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3"> Voces del Siglo </h3>
      <p>Una miniserie de entrevistas a personas que fueron parte de la transformación de Guadalajara en la última mitad del siglo XX. Un proyecto que documenta, acrecienta y difunde la memoria histórica de la ciudad a través de sus actores. El espíritu de Voces del Siglo es incentivar la formación de una sociedad con mayor arraigo, perspectiva histórica y anhelo de incidir positivamente en sus entornos.</p>
      <a class="nav-link-4 btn btn-primary" href="https://www.youtube.com/watch?v=jug61VwgVes&ab_channel=VocesdelSiglo" role="button">Ver video</a>
      </div>
    </div>
  </div>
</section>

<!--Section 2 -->

<section id="audiosivual-2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Tolvanera</h3>
          <p>Un documental dirigido por el periodista de A.R. Melgoza que pone al centro del debate el tema de la minería, el acceso a la justicia y la narrativa securitaria en México.</p>
          <p> Sinopsis: </p>
          <p>Después de ser encañonados por un grupo de hombres armados, un periodista y su equipo, deciden suspender la investigación sobre cómo el cuarto hombre más rico de México busca impedir que se cumpla la justicia en un caso que tiene legalmente perdido ante un ejido en el norte de Sonora; pero una versión de la historia publicada un par de años después en la prensa nacional, los devuelve al caso. En un viaje por las carreteras de Sonora, ejidatarios, abogados, activistas, académicos y periodistas exponen las distintas caras de la tormenta en la que nos encontramos y que nos impide hacer sentido de la realidad. ¿Puede disolverse la tolvanera que nos envuelve en las narrativas del  poder?</p>
      <a class="nav-link-4 btn btn-primary" href="https://ejidoelbajio.mx/" role="button">Conoce más</a>
        </div>
        <div class="col-md-6">
        <iframe width="600" height="450" src="https://www.youtube.com/embed/QK83YTxqryg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


  


<!--Contacto-->

<section class="py-5 bg-light text-muted" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres colaborar con nosotros?</h1>
        <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
        <form class="py-5">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
       
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>