<!-- Home -->
<section class="py-5" id="homeeducation">
  <div class="primary-overlay text-black">
    <div class="container">
          <h1 class="display-3 mt-5 pt-5 text-center"> Propuestas para aprender, experimentar y pensar juntos. </h1>
          <p class="lead mt-1 pt-1 text-center">Nos basamos en las habilidades del pensamiento crítico, la creatividad y el cuidado mutuo.</p>
          <button type="button" class="button-test btn btn-primary" >Nuestros talleres</button>
    </div>
  </div>
</section>

<!--Section 1 -->

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/fpn.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">Filosofía para niños </h3>
      <p>Desarrollado en los años 70 por el filósofo Matthew Lipman, la Filosofía para niños es un programa educativo que promueve un pensamiento complejo cuyo último fin es que cada persona sea capaz de formular sus propias hipótesis y explicaciones para tomar mejores decisiones sobre su vida. En Revueltas promovemos activamente la Filosofía para niños y lo consideramos la base de nuestros proyectos. </p>
      <a class="nav-link-4 btn btn-primary" href="educacion/filosofiaparaninos" role="button">Ver más</a>
      </div>
    </div>
  </div>
</section>

<!--Section 2 -->

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Planeta Neta</h3>
          <p>Diseñamos e impartimos este taller para el área infantil de la Feria Internacional del Libro de Guadalajara, FIL Niños 2019. Planeta Neta es un taller para personas de 7 a 9 años que gira alrededor de las noticias, las mentiras, lo que es real y lo que no. A través de un espacio que retoma la narración de la novela La guerra de los mundos leída por Orson Welles en 1938 y que concluye con cada participante armando su propia primera plana del periódico Crónicas Planetarias. </p>
      <a class="nav-link-4 btn btn-primary" href="educacion/planetaneta" role="button">Ver más</a>
        </div>
        <div class="col-md-6">
          <img src="assets/planetaneta.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section 3 -->

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/qwa.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">El misterio de las preguntas sin respuesta</h3>
      <p>Es un taller corto inspirado en la metodología de Filosofía para niños (FpN). Es una aproximación a FpN a través de una dinámica lúdica donde se propicia un diálogo sobre algunos de los temas que más se ha cuestionado la humanidad como la muerte, la felicidad, la verdad, el futuro, las emociones, el bien y el mal, o la libertad. Este taller se llevó a cabo en el área infantil de la Feria Internacional del Libro de Guadalajara (FIL Niños) en 2018</p>
      <a class="nav-link-4 btn btn-primary" href="educacion/elmisteriodelaspreguntassinrespuesta" role="button">Ver más</a>
      </div>    
    </div>
  </div>
</section>


<!--Section 4 -->

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> ¿Cómo saber que no eres un robot?</h3>
          <p>Tomando como base la forma de trabajo del programa de Filosofía para niños (FpN) desarrollamos ¿Cómo sabes que no eres un robot? Un taller que invita a la reflexión lúdica a través de un juego de preguntas. El proyecto fue desarrollado para la Secretaría de Cultura de Jalisco y lo impartimos en 9 bibliotecas del Área Metropolitana de Guadalajara.</p>
          <a class="nav-link-4 btn btn-primary" href="educacion/comosaberquenoeresunrobot" role="button">Ver más</a>
        </div>
        <div class="col-md-6">
          <img src="assets/irobot3.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>


<!--Section 5 -->

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/rbtpolis.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">Robotrópolis</h3>
      <p>Diseñamos e impartimos este taller para el área infantil de la Feria Internacional del Libro de Guadalajara, FIL Niños 2019. Robotrópolis es un taller para personas de 10 a 12 años que trabaja con temas como la inteligencia artificial, los robots, la automatización de la vida y las formas de organización de los humanos en el futuro. A través de una narración viajamos al futuro, discutimos cómo nos lo imaginamos y creamos una versión androide de nosotros mismos. </p>
      <a class="nav-link-4 btn btn-primary" href="educacion/robotropolis" role="button">Ver más</a>
      </div>    
    </div>
  </div>
</section>

<!--Section 6 -->

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> ¡Habitar el arte! </h3>
          <p>En el verano del 2019 Revueltas y PAOS GDL organizamos un espacio de experimentación, juego y aprendizaje donde los niños pudieron acercarse a distintas formas del arte como la música, la pintura, la danza, la escultura y la escritura, en conjunto con una reflexión filosófica que se daba después de las experiencias prácticas. El curso tuvo una extensión de una semana y recibimos niños de 6 a 12 años divididos en dos grupos de edad.</p>
          <a class="nav-link-4 btn btn-primary" href="educacion/habitarelarte" role="button">Ver más</a>
        </div>
        <div class="col-md-6">
          <img src="assets/arte.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section 7 -->

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/tiempo2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">Esculpir el tiempo</h3>
      <p>El cine como herramienta para la reflexión colectiva es el enfoque que utilizamos para promover cursos y charlas con periodistas, realizadores y miembros de la industria del cine. Del 09 al 13 de octubre del 2019 organizamos Esculpir el tiempo el primer curso de el cine como herramienta para la reflexión colectiva donde nos aproximamos a distintas formas de entender el lenguaje audiovisual y sus posibilidades; haciendo una revisión técnica, socio-histórica y de autoría del cine. El curso fue diseñado e impartido por el crítico de cine Erick Estrada.</p>
      <a class="nav-link-4 btn btn-primary" href="educacion/esculpireltiempo" role="button">Ver más</a>
      </div>
    </div>
  </div>
</section>

<!--Section 8 -->

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Remix: Tecnología, cultura y propiedad</h3>
          <p>En agosto del 2019 organizamos Remix un curso desarrollado e impartido por el maestro en urbanismo Conrado Romo quien hace una revisión crítica del pasado y el futuro de la propiedad intelectual, los mitos que la han construido, las personas que han propuesto alternativas y los caminos legales alternativos para la producción cultural.</p>
          <a class="nav-link-4 btn btn-primary" href="educacion/remix" role="button">Ver más</a>
        </div>
        <div class="col-md-6">
          <img src="assets/tchcult.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Reviews -->
<div class= "bg-light text-muted py-5"> 
<div class="container ">
    <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
        <h1>Lo que opinan de nuestros programas</h1>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <img src="assets/Alejandra-Arreola.jpeg" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">"El equipo de Revueltas presenta metodologías participativas, de tal forma que el debate filosófico y el juego se desenvuelve entre niños y adolescentes de manera respetuosa, mientras indagan sobre conceptos complejos a partir de sus propias experiencias."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Alejandra Arreola</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Desarrollo Cultural y Artístico - Secretaría de Cultura de Jalisco</small>
        </li>
        <li>
          <img src="assets/oscargo.jpeg" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">"Co-creamos un modelo de trabajo para una asociación civil con Revueltas. El equipo sobrepasó nuestras expectativas, desde el día uno se apropiaron del proyecto como si fuera de ellos, escucharon y lo desmenuzaron hasta el hueso con metodologías innovadoras, generando como resultado un bellísimo documento. Siempre atentos, siempre propositivos, muy profesionales."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Óscar Gómez de la Vega</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Director operativo en Canopea.</small>
        </li>
        <li>
          <img src="assets/analu.jpeg" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" FIL Niños es un espacio para asombrarse. Una experiencia lúdica en torno al libro y la lectura. Y con esta misma visión Revueltas aportó en su edición 2019 dos talleres distintos que detonaron el pensamiento crítico a través de la filosofía y el periodismo. El éxito de FIL Niños descansa en alianzas como ésta, que aportan talento y ensanchan los contenidos."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ana Luelmo,</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Coordinadora de FIL Niños, el área infantil de la Feria Internacional del Libro de Guadalajara. </small>
        </li>
      </ul>
</div>
</div>

<!--Contacto-->

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres colaborar con nosotros?</h1>
        <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
        <form class="py-5">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera colaborar con el área de</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Educación</option>
            <option>Radio</option>
            <option>Servicios</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>