<div class="jumbotron" id="jumbo5">
  <h1 class="display-4">Educación</h1>
  <p class="lead">La existencia, el conocimiento, la verdad, la moral</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Nuestros talleres</a>
</div>