<!-- Home -->
<section class="py-5" id="homeeducation">
  <div class="primary-overlay text-white">
    <div class="container">
          <h1 class="display-3 mt-5 pt-5 text-center"> Propuestas para aprender, experimentar y pensar juntos. </h1>
          <p class="lead mt-1 pt-1 text-center">Nos basamos en las habilidades del pensamiento crítico, la creatividad y el cuidado mutuo.</p>
          <button type="button" class="button-test btn btn-primary" >Nuestros talleres</button>
    </div>
  </div>
</section>

<!--Section 1 -->

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">Filosofía para niños </h3>
      <p>Desarrollado en los años 70 por el filósofo Matthew Lipman, la Filosofía para niños es un programa educativo que promueve un pensamiento complejo cuyo último fin es que cada persona sea capaz de formular sus propias hipótesis y explicaciones para tomar mejores decisiones sobre su vida. En Revueltas promovemos activamente la Filosofía para niños y lo consideramos la base de nuestros proyectos. </p>
      <button type="button" class="btn btn-primary" >Ver más</button>      
      </div>
    </div>
  </div>
</section>

<!--Section 2 -->

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Mi ciudad y yo</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, laborum deserunt. Facilis nam sequi saepe, atque dolorem similique omnis non voluptates eaque aut nulla quod.</p>
          <button type="button" class="btn btn-primary" >Ver más</button>   
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section 3 -->

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study3.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">El misterio de las preguntas sin respuesta</h3>
      <p>El misterio de las preguntas sin respuesta es un taller corto inspirado en la metodología de Filosofía para niños (FpN). Es una aproximación a FpN a través de una dinámica lúdica donde se propicia un diálogo sobre algunos de los temas que más se ha cuestionado la humanidad como la muerte, la felicidad, la verdad, el futuro, las emociones, el bien y el mal, o la libertad.</p>
      <button type="button" class="btn btn-primary" >Ver más</button>  
      </div>    
    </div>
  </div>
</section>


<!--Section 4 -->

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> ¿Cómo saber que no eres un robot?</h3>
          <p>Tomando como base la forma de trabajo del programa de Filosofía para niños (FpN) desarrollamos ¿Cómo sabes que no eres un robot? Un taller que invita a la reflexión lúdica a través de un juego de preguntas. El proyecto fue desarrollado para la Secretaría de Cultura de Jalisco y lo impartimos en 9 bibliotecas del Área Metropolitana de Guadalajara.</p>
          <button type="button" class="btn btn-primary" >Ver más</button>   
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>



<!--section 6 -->
<div class= "bg-light text-muted py-5"> 
<div class="container ">
    <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
        <h1>Lo que opinan de nuestros programas</h1>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">"El equipo de Revueltas presenta metodologías participativas, de tal forma que el debate filosófico y el juego se desenvuelve entre niños y adolescentes de manera respetuosa, mientras indagan sobre conceptos complejos a partir de sus propias experiencias."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Alejandra Arreola</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Desarrollo Cultural y Artístico - Secretaría de Cultura de Jalisco</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ariana Menage</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Recording Artist - Los Angeles</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Sean Carter</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Fund Manager - Chicago</small>
        </li>
      </ul>
</div>
</div>

<!--Contacto-->

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres colaborar con nosotros?</h1>
        <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
        <form class="py-5">
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera colaborar con el área de</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Educación</option>
            <option>Radio</option>
            <option>Servicios</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>