<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">El misterio de las preguntas sin respuesta </h3>
        <p class="display-5 py-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam harum modi cum porro veritatis dicta. Ducimus iure quisquam ab perferendis.</p>
    </div>
</div>   
</section>


<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">¿De qué trata?  </h3>
      <p>
El misterio de las preguntas sin respuesta es un taller corto inspirado en el programa de Filosofía para niños (FPN). El proceso de formación de una comunidad de indagación, tal como lo plantea el programa, lleva un periodo en gestarse y mostrar resultados en las habilidades de indagación, razonamiento, formulación de conceptos y traducción. Con este taller buscamos brindar una rápida aproximación a la FPN a través de una dinámica lúdica donde se propicia un diálogo sobre algunos de los temas que más se ha cuestionado la humanidad como la muerte, la felicidad, la verdad, el futuro, las emociones, el bien y el mal, o la libertad. En la dinámica los niños toman una postura de investigadores. Tienen que revisar con lupa (literalmente) cada una de las imágenes que los rodean y que contienen una pregunta escondida. Después ellos eligen una de esas preguntas y la que haya sido escogida el mayor número de veces se elige como la pregunta a resolver. Después comienza nuestro diálogo. Los niños expresarán lo que piensan sobre el tema abordado a través de episodios de su propia vida. Compartiendo en comunidad escucharán la experiencia de otros y se llevarán nuevas preguntas que jamás se habían imaginado. 
</p>
      </div>
    </div>
  </div>
</section>

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Modalidad </h3>
          <p>Este es un taller pensado para niñas y niños de 8 a 10 años.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3"> ¿Qué esperar del curso?  </h3>
      <p>Salir con una actitud más abierta a la elaboración de preguntas y a la escucha del otro. Además de tener una experiencia cercana a una herramienta educativa basada en un modelo indagativo. </p>
      </div>
    </div>
  </div>
</section>


<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres más información?</h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre la apertura de los siguientes cursos</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera más información sobre</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>El misterio de las preguntas sin respuesta</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>