<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Filosofía para niños </h3>
        <p class="display-5 py-2">Filosofía para niños nace gracias a la dedicación de Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam necessitatibus neque autem accusantium tempore odio cupiditate deserunt molestiae. Adipisci, aut.</p>
    </div>
</div>   
</section>


<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">¿De qué trata?  </h3>
      <p>
A partir de temas tradicionales de la Filosofía y, mediante herramientas que rescatan la curiosidad y el asombro de los niños y las niñas, se propone estimular el pensamiento complejo (high order thinking) a través de una comunidad de indagación. El programa de Filosofía para Niños (FPN) provoca que ellos sean capaces de reflexionar sobre su propia existencia y de formular sus propias explicaciones e hipótesis sobre lo que esta experiencia les presenta. A través de este programa los niños obtienen la libertad y responsabilidad para ordenar y modelar su pensamiento. El programa fue creado por el doctor Dr. Matthew Lipman en 1974 para introducir la filosofía en el aula. Está constituido por ocho novelas, las cuales, a través de personajes, plantean diversas posturas y aproximaciones a distintas cuestiones filosóficas como la verdad, la realidad, lo que es justo, lo que puede considerarse como bello, la naturaleza de la amistad, las relaciones de equidad, el papel del lenguaje en nuestro conocimiento, o la lógica. 
</p>
      </div>
    </div>
  </div>
</section>

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> ¿Cuales son los requisitos? </h3>
          <p>Cualquier persona puede participar en una indagación filosófica :)</p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3"> ¿Qué esperar del curso?  </h3>
      <p>La metodología de FPN implica la lectura por turnos, en voz alta y de forma grupal de la novela del programa. Después se invita a los niños a que expresen sus ideas y a que transformen esas ideas en preguntas filosóficas. De esas preguntas se selecciona una que al grupo le interese discutir y se inicia un diálogo alrededor del tema elegido, ejercitando las habilidades para pensar correctamente y conduciendo de manera abierta, de tal forma que el proceso del grupo permita que poco a poco se constituya una comunidad de indagación. Desde Revueltas hacemos distintas aproximaciones al programa en el que utilizamos diversos materiales para propiciar la indagación. 
</p>
      </div>
    </div>
  </div>
</section>


<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Ubicaciones </h3>
          <p>Organizamos talleres presenciales y en línea. Si te interesa iniciar o formar parte de una comunidad de indagación escríbenos. </p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres más información?</h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre la apertura de los siguientes cursos</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera más información sobre</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Filosofía para Niños</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>