<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Filosofía para niños </h3>
        <p class="display-5 py-2">Filosofía para niños nace gracias a la dedicación de Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam necessitatibus neque autem accusantium tempore odio cupiditate deserunt molestiae. Adipisci, aut.</p>
    </div>
</div>   
</section>


<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">¿De qué trata?  </h3>
      <p>Reunimos a 25 niños para que Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident incidunt numquam velit odio! Fugiat porro possimus molestiae corporis provident minus, dicta corrupti, voluptatibus atque quam dignissimos explicabo qui officia ipsa ipsam culpa reiciendis repellat velit!</p>
      </div>
    </div>
  </div>
</section>

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> ¿Cuales son los requisitos? </h3>
          <p>Buscamos niños de entre 5-8 años que Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, ea aperiam? Quis voluptatibus dignissimos, illum sequi error est dolore sit.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3"> ¿Qué esperar del curso?  </h3>
      <p>Buscamos desarrollar las habilidades Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis porro impedit ratione suscipit tempore, aliquam totam natus labore distinctio quia eaque consequatur quibusdam, amet reprehenderit quae, voluptas inventore odit rerum!</p>
      </div>
    </div>
  </div>
</section>


<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Ubicaciones </h3>
          <p>El curso se esta dando en la colonia americana, zapopan, chapultepec Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, a?</p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres más información?</h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre la apertura de los siguientes cursos</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera más información sobre</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Filosofía para Niños</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>