<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5"> Curso de Filosofía para niños en el Instituto de la Vera-Cruz </h3>
        <p class="display-5 py-2">¡Regístrate!</p>
    </div>
</div>   
</section>

<div class="primary-overlay text-black text-center">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScG3tjcBRYqyM24OPjsMxI-OkSvwSalCRhXAGy8uyJZE9xZeA/viewform?embedded=true" width="640" height="999" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</div>