<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5"> Habitar el arte </h3>
        <p class="display-5 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt omnis. Accusantium laboriosam atque veniam?</p>
    </div>
</div>   
</section>


<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">¿De qué trata?  </h3>
      <p>El ser humano y su expresión han pasado por importantes transformaciones y propuestas que hacen casi imposible definir lo que es el arte, y es que es tantas cosas que quién querría encapsularlo. En este taller creamos experiencias artísticas con reflexión filosófica y seguimos una de nuestras principales premisas: tiene que ser divertido. Habitar el arte significa pensarlo, contemplarlo, pero sobre todo experimentarlo, jugar, involucrarse, ser parte. </p>
      </div>
    </div>
  </div>
</section>

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Modalidad</h3>
          <p>Este taller tiene duración de una semana y es para máximo 11 niños.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3"> ¿Qué esperar del curso?  </h3>
      <p>Pensar, reflexionar e indagar filosóficamente en el contexto del arte.</p>
      </div>
    </div>
  </div>
</section>


<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres más información?</h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre la apertura de los siguientes cursos</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera más información sobre</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Habitar el arte</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>