<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src='assets/home1.png' alt="Imagen de educación" width="1500" height="500">
      <div class="carousel-caption">
      <h1>Educación</h1>
      <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
      </p>
        </div>
    </div>
    <div class="carousel-item" >
      <img src='assets/carousel.png' alt="Imagen de radio" width="1500" height="500">
      <div class="carousel-caption">
        <h1>Radio</h1>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        </p>
        </div>
    </div>
    <div class="carousel-item" >
      <img src='assets/carousel5.png' alt="Imagen de servicios" width="1500" height="500">
      <div class="carousel-caption">
        <h1>Servicios</h1>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        </p>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

  <div class="container">

  <div class="jumbotron" id="jumbo2">
  <body id="body2">

  <h1 style="text-align:center;" >¿Qué hacemos?</h1>
  <p id="h1"> </p>
  <div class="row">
    <div class="col-sm-4">
      <svg class="bi bi-book" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
      </svg>
      <h3>Educación</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-secondary">Conoce más</button>
    </div>
    <div class="col-sm-4">
      <svg class="bi bi-mic-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 3a3 3 0 016 0v5a3 3 0 01-6 0V3z"/>
        <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 014 7v1a4 4 0 008 0V7a.5.5 0 011 0v1a5 5 0 01-4.5 4.975V15h3a.5.5 0 010 1h-7a.5.5 0 010-1h3v-2.025A5 5 0 013 8V7a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
      </svg>
      <h3 >Radio</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-secondary">Conoce más</button>
    </div>
    <div class="col-sm-4">
      <svg class="bi bi-briefcase" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-6h-1v6a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-6H0v6z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v2.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 00-.5.5v1.616l6.871 1.832a.5.5 0 00.258 0L15 6.116V4.5a.5.5 0 00-.5-.5h-13zM5 2.5A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/>
      </svg>
      <h3>Servicios</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-secondary">Conoce más</button>
    </div>
  </div>
</div>
</div>

</body>

<div class="container">

  <div class="jumbotron" id="jumbo3">
    <h1 class="display-4" style="text-align:center;">Nuestros Aliados</h1>
    <p id="h1"> </p>  
    <div class="row">
    <div class="col-sm-4">
    <img src='assets/cnn.png' alt="Imagen de servicios" width="100" height="50">
    </div>
    <div class="col-sm-4">
    <img src='assets/harvard.png' alt="Imagen de servicios" width="100" height="50">
    </div>
    <div class="col-sm-4">
    <img src='assets/cbs.png' alt="Imagen de servicios" width="100" height="50">
    </div>
    </div>

    </div>

    <div class="jumbotron" id="jumbo4">
    <h1 style="text-align:center;">¿Quieres colaborar con nosotros?</h1>
    <p style="text-align:center;">Escríbenos y te respondemos en menos de 24 horas</p>
    <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Correo Electrónico </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Quisiera colaborar con el área de</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Educación</option>
        <option>Radio</option>
        <option>Servicios</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comentarios</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>

  <button type="button" class="btn btn-primary" >Enviar</button>


  </div>
</div>


</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Revueltas Inc</small>
    </div>
  </footer>