<div id="page-content">
    <div class="container" id="home-container" >
    <div class="jumbotron jumbotron-fluid text-center text-white" id="jumbo1">
        <div class="container">
            <h1 class="display-4">Educación</h1>
            <p class="lead">Construimos propuestas para aprender, experimentar y pensar juntos </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Conoce más</a>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Revueltas Inc</small>
    </div>
  </footer>