<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Identidad Verbal  </h3>
        <p class="display-5 py-2">Indagamos en las marcas para descubrir su personalidad, público y voz.</p>
    </div>
</div>   
</section>

<section id="servicios-peda" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> ¿De qué trata? </h3>
          <p>El nombre y la imagen de una marca son su identidad gráfica, ¿pero cuál es su identidad verbal? ¿Cómo se expresa y a quién le habla? Para identificar la voz de cada marca colaboramos con las áreas responsables de mercadotecnia y definimos una guía editorial que incluye: 
            <ul> 
           <li> La descripción de la personalidad de la marca, su público y su voz. </li>
           <li> Un glosario de palabras clave.</li>
           <li> Lista de ejemplos del tono y la conjugación recomendada.</li>
           <li> Listas de reglas gramaticales básicas y de estilo de la nueva voz</li>
            </ul>
</p>
        </div>
        <div class="col-md-6">
          <img src="https://unsplash.com/photos/gcsNOsPEXfs" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Interesado en trabajar con nosotros? </h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre nuestros alcances y cotizaciones</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Servicio en el que estoy interesado</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Pedagogia</option>
            <option>Identidad verbal</option>
            <option>Estrategia Verbal </option>
            <option>Contenido Verbal</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>




