<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Metodologías pedagogicas </h3>
        <p class="display-5 py-2">Impartimos programas educativos, creamos metodologias Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nobis eos iusto quibusdam vel perferendis ad, soluta impedit mollitia at modi perspiciatis velit id temporibus consequatur aliquam autem, harum rem eaque, architecto earum magnam dolores quas! Id quo accusantium eius.</p>
    </div>
</div>   
</section>

<section class="py-3">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h1 class="display-5 py-5">¿Qué hacemos? </h1>
        <p class="display-5 py-2">Nos interesamos por el proceso pedagogico que buscan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, culpa est ratione accusamus atque, eveniet labore quasi inventore similique, provident quae autem aliquam in ducimus!</p>
    </div>
</div>   
</section>

<section class="py-3">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h1 class="display-5 py-5">¿Cómo funciona? </h1>
        <p class="display-5 py-2">Arrancamos viendo los objetivos que buscan Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rem, autem officiis, hic quasi quas cumque placeat doloribus ex assumenda illum maxime nostrum tempore atque beatae eos explicabo accusamus odio.</p>
    </div>
</div>   
</section>


<section class="py-3">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h1 class="display-5 py-5">¿Para quién esta enfocado?</h1>
        <p class="display-5 py-2">Esta enfocado a empresas que busquen desarrollar Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nemo dolores esse deserunt officiis, porro id quis, amet eligendi officia saepe ipsa, corrupti consequatur quo.</p>
    </div>
</div>   
</section>


<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Interesado en trabajar con nosotros? </h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre nuestros alcances y cotizaciones</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Servicio en el que estoy interesado</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Pedagogia</option>
            <option>Identidad verbal</option>
            <option>Estrategia Verbal </option>
            <option>Contenido Verbal</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>




