<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5"> Planeta Neta </h3>
        <p class="display-5 py-2">Filosofía para niños nace gracias a la dedicación de Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam necessitatibus neque autem accusantium tempore odio cupiditate deserunt molestiae. Adipisci, aut.</p>
    </div>
</div>   
</section>


<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">¿De qué trata?  </h3>
      <p>
¿Mentira podrida o neta planeta? Muchas de las cosas que vemos o leemos parecen verdad, se cuentan y se propagan: unos creen, otros no, parece que todo está en el aire, tenemos pocas certezas… ¿Cómo sabemos si algo es verdad o es mentira? ¿Hasta qué punto podemos decir que una cosa es verdadera? El periodismo juega un papel central en este tema pues su trabajo consiste en dar a conocer hechos y en hacer investigaciones para decirnos cómo fueron las cosas y quizás hasta explicarnos por qué pasaron como pasaron. Hoy el periodismo está en crisis, entrar a entender su función y su importancia puede ayudarnos a procurarlo y con ello a cuidar nuestra vida en común. Planeta Neta es un taller que inicia con una narración, una noticia de 1938 en la que da a conocer que la noche anterior se transmitió, en vivo, la primer invasión alienígena de la historia. Después de hacer la lectura de la noticia se hace una narración imitando a Orson Welles quien a su vez interpretaba la novela de H. G. Wells La guerra de los mundos.
</p>
      </div>
    </div>
  </div>
</section>

<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Modalidad </h3>
          <p>Es un taller dirigido para niños y niñas de 7 a 9 años.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section id="edu-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/study.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3"> ¿Qué esperar del curso?  </h3>
      <p>Una utopía: Un lugar donde los niños y las niñas creamos nuestro propio criterio para decidir si algo es verdad o no. </p>
      </div>
    </div>
  </div>
</section>


<section id="edu-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Ubicaciones </h3>
          <p>Organizamos talleres presenciales y en línea. Si te interesa iniciar o formar parte de una comunidad de indagación escríbenos. </p>
        </div>
        <div class="col-md-6">
          <img src="assets/study2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres más información?</h1>
        <p class="display-5 text-center">Escríbenos y te daremos más información sobre la apertura de los siguientes cursos</p>
        <form class="py-5">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Quisiera más información sobre</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Filosofía para Niños</option>    
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <button type="button" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</section>