<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Prohibido Pensar</h3>
        <p class="display-5 py-2">Arqueología auditiva para un mundo en ruinas</p>
    </div>
</div>   
</section>

<div class="section py-5">
  <div class="container">
    <div class="primary-overlay text-black text-center">
    <h2>Nuestros episodios</h2>
    </div>


<iframe src="https://open.spotify.com/embed-podcast/episode/1UxOwZH7YY5zyaLGi1JRs6" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed-podcast/episode/12cD6ta3dFVJUsTfen1ehG" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed-podcast/episode/3dqJF0Y3JxymynGLnIrMJB" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed-podcast/episode/2r2RpUPzvmrzkFb9L9nh09" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed-podcast/episode/0ZFACfVB0Gfph6tkPhQ88h" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
