<section class="py-5">
<div class="primary-overlay text-black text-center">
    <div class="container">
        <h3 class="display-3 py-5">Prohibido Pensar</h3>
        <p class="display-5 py-2">Prohibido pensar es un podcast enfocado en Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vitae corrupti repudiandae veniam cupiditate labore earum minus, eaque libero, itaque quibusdam assumenda fugiat voluptate quisquam.</p>
    </div>
</div>   
</section>

<div class="section py-5">
  <div class="container">
    <div class="primary-overlay text-black text-center">
    <h2>Nuestros episodios</h2>
    </div>


<iframe class="py-3" src="https://open.spotify.com/embed-podcast/episode/3bToTRfQGkVGcEabQ1JSu6" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe class="py-3" src="https://open.spotify.com/embed-podcast/episode/4gORSEwnWGnRucVC18Wxzz" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe class="py-3" src="https://open.spotify.com/embed-podcast/episode/4gORSEwnWGnRucVC18Wxzz" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe class="py-3" src="https://open.spotify.com/embed-podcast/episode/7dDGjLIGe5aUghZ7X1hwDS" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe class="py-3" src="https://open.spotify.com/embed-podcast/episode/52d8FdAjDuM4ImXmUGDstR" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe class="py-3" src="https://open.spotify.com/embed-podcast/episode/4rhdbJ6OeFLJcMIsUerCD7" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>