<!-- Home -->
<section class="py-5" id="homeradio">
  <div class="primary-overlay text-white">
    <div class="container">
          <h1 class="display-3 mt-5 pt-5 text-center"> Hacemos sonar el tambor, producimos radio y podcast.  </h1>
          <p class="lead mt-1 pt-1 text-center">Conoce nuestros pilotos y proyectos al aire. </p>
          <button type="button" class="button-test btn btn-primary" >Escúchanos</button>
    </div>
  </div>
</section>


<!--Section 2 -->

<section id="radio-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Prohibido Pensar Podcast</h3>
          <p>Un programa de entrevistas conducido por Conrado Romo. Si algo queda claro del mundo contemporáneo es que las certezas se han esfumado. Los griegos llamaban crisis al punto en que un enfermo, o iniciaba su recuperación, o entraba a la fase de no retorno. En este programa detonamos conversaciones para pensar qué vendrá mañana.</p>
          <a class="nav-link-4 btn btn-primary" href="radio/prohibidopensar" role="button">Escuchar</a>
        </div>
        <div class="col-md-6">
          <img src="assets/radio2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section 1 -->

<section id="radio-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/862705816&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/airelibrefm" title="airelibrefm" target="_blank" style="color: #cccccc; text-decoration: none;">airelibrefm</a> · <a href="https://soundcloud.com/airelibrefm/1094-el-ritual-de-la-memoria-por-angel-roberto-melgoza-cortes" title="1094. El Ritual De La Memoria Por  Ángel Roberto Melgoza Cortés" target="_blank" style="color: #cccccc; text-decoration: none;">1094. El Ritual De La Memoria Por  Ángel Roberto Melgoza Cortés</a></div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center py-3">El Ritual de la Memoria - Relato sonoro</h3>
        <p>Participamos con este relato sonoro en el concurso El Mundo Desde Tu Ventana de la estación de radio Aire Libre donde quedamos seleccionados entre los 30 finalistas. El jurado final estuvo conformado por Alejandro González Iñárritu, Alma Delia Murillo, Juan Villoro, Yásnaya Elena Aguilar, Jordi Soler, Wendy Guerra y Fernando Fernández.</p>
        <a class="nav-link-4 btn btn-primary" href="radio/elritualdelamemoria" role="button">Escuchar</a>
      </div>
    </div>         
  </div>
</section>


<!--Section 4 -->

<section id="radio-section2" class="bg-white py-5 text-muted py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center py-3"> Chicas Noches - Piloto</h3>
          <p>Un programa donde mezclamos un concierto en vivo y una entrevista a proyectos musicales independientes que se presentan en la mezcalería Pare de Sufrir. Conducido por Omar Magaña. </p>
          <a class="nav-link-4 btn btn-primary" href="radio/chicasnoches" role="button">Escuchar</a>
        </div>
        <div class="col-md-6">
          <img src="assets/radio2.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">  
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section 3 -->

<section id="radio-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/radio3.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
      <div class="col-md-6">
      <h3 class="text-center py-3">El rumor de la discordia - Piloto</h3>
      <p>Un explicador de la política en Jalisco. Hicimos el piloto de este programa buscando explicar la noticia a partir de la coyuntura mediática: qué actores están detrás, qué grupos y a qué podrían deberse los hechos apreciables. Conducen Diego Petersen y José Enrique Aceves. </p>
      <a class="nav-link-4 btn btn-primary" href="radio/elrumordeladiscordia" role="button">Escuchar</a>
  </div>
</section>



<!--Section 5 -->

<section id="radio-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center py-3">Radio Revueltas - Piloto</h3>
        <p>Un ejercicio de periodismo filosófico en el que tomamos un concepto, un tema, un enfoque y un formato para registrar y provocar diálogos y discusiones. Conducido por Ángel Melgoza. </p>
         <a class="nav-link-4 btn btn-primary" href="radio/radiorevueltas" role="button">Escuchar</a>
      </div>
      <div class="col-md-6">
        <img src="assets/radio3.jpg" alt="" class="img-fluid mb-3" height="400" width= "400">
      </div>
    </div>
  </div>    
</section>

<!--Contacto-->

<section class="py-5" id="contacto">
  <div class="row">
    <div class="container">
    
      <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres colaborar con nosotros?</h1>
      <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
      <form class="py-5">
        <div class="form-group">
          <label for="exampleFormControlInput1">Correo Electrónico </label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Quisiera colaborar con el área de</label>
          <select class="form-control" id="exampleFormControlSelect1">
          <option>Radio</option>
          <option>Educación</option>
          <option>Servicios</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Comentarios</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
      <button type="button" class="btn btn-primary" >Enviar</button>
    </div>
  </div>
</section>