<!-- Home -->
<section class="py-5" id="homeservicios">
  <div class="primary-overlay text-white">
    <div class="container">
          <h1 class="display-2 mt-5 pt-5 text-center"> Lorem ipsum dolor sit amet. </h1>
          <p class="lead mt-1 pt-1 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, provident?</p>
          <button type="button" class="btn btn-primary text-center" >Nuestros servicios</button>
    </div>
  </div>
</section>


<!-- Nuestros Servicios-->

<section  class="bg-light py-2" id="quehacemos-serv">
  <div class="primary-overlay">
    <div class="container">
    <h1 class="display-4 mt-5 pt-5 text-center"> Nuestros Servicios</h1>
      <div class="row py-5">
        <div class="col lg-6 text-center">
        <svg class="bi bi-chat-dots" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z" clip-rule="evenodd"/><path d="M5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z"/></svg>
          <h3 class="py-2">Identidad Verbal</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur aliquid tempora. Natus, dolores possimus.</p>
          <button class="btn btn-primary btn-sm "> Conoce más </button>
        </div>
        <div class="col lg-6 text-center">
        <svg class="bi bi-award-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/></svg>
          <h3 class="py-2">Estrategia Verbal</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur aliquid tempora. Natus, dolores possimus.</p>
          <button class="btn btn-primary btn-sm"> Conoce más </button>
        </div>
        <div class="col lg-6 text-center">
        <svg class="bi bi-card-list" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5z" clip-rule="evenodd"/><circle cx="3.5" cy="5.5" r=".5"/><circle cx="3.5" cy="8" r=".5"/><circle cx="3.5" cy="10.5" r=".5"/></svg>
          <h3 class="py-2">Contenido Verbal</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut consequatur aliquid tempora. Natus, dolores possimus.</p>
          <button class="btn btn-primary btn-sm"> Conoce más </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Nuestros Clientes-->

<section class=" py-5" id="clientes">
  <div class="primary-overlay">
    <div class="container">
      <h1 class="display-4 mt-5 pt-3 text-center"> Nuestros Clientes</h1>
      <div class="row text-center">
        <div class="col md-6 py-5">
        <img src="assets/prentige.png" alt="logo de cbs" class="img-fluid mb-3" width="100" height="50">
        </div>  
        <div class="col md-6 py-5">
        <img src="assets/Foliego.png" alt="logo de cbs" class="img-fluid mb-3" width="100" height="50">
        </div>
        <div class="col md-6 py-5">
        <img src="assets/5roots.png" alt="logo de cbs" class="img-fluid mb-3" width="100" height="50">
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- Cotiza -->
<section class="bg-light py-5" id="cotiza">
  <div class="row">
    <div class="container">
    
      <h1 class="display-4 mt-5 pt-3 text-center"> Cotiza con nosotros</h1>
      <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
      <form class="py-5">
        <div class="form-group">
          <label for="exampleFormControlInput1">Correo Electrónico </label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Estoy interesado en el servicio de </label>
          <select class="form-control" id="exampleFormControlSelect1">
          <option>Identidad Verbal</option>
          <option>Estrategia Verbal</option>
          <option>Contenido Verbal</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Cuéntanos sobre tu proyecto</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
      <button type="button" class="btn btn-primary" >Enviar</button>
    </div>
  </div>
</section>