<!-- Home -->
<section class="py-5" id="homeservicios">
  <div class="primary-overlay text-black">
    <div class="container">
          <h1 class="display-2 mt-5 pt-5 text-center"> Gestionamos y diseñamos proyectos culturales.  </h1>
          <p class="lead mt-1 pt-1 text-center">¿Te gusta lo que hemos hecho? ¿Podemos sumar? ¡Escríbenos!  </p>
          <button type="button" class="button-test btn btn-primary " >Nuestros servicios</button>
    </div>
  </div>
</section>


<!--Mantra -->
<section class="py-2" id="mantra-servicios">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 mb-5 pb-5 pt-5 text-center"> Generamos propuestas con las herramientas del arte, la filosofía y la política. </p>
    </div>
  </div>
</section>

<!-- Nuestros Servicios-->

<section  class="bg-light py-2" id="quehacemos-serv">
  <div class="primary-overlay">
    <div class="container">
    <h1 class="display-4 mt-5 pt-5 text-center"> ¿Cómo lo hacemos? </h1>
      <div class="row py-5">
        <div class="col-lg-4 text-center">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>
          <h3 class="py-4">Análisis</h3>
          <p>Investigamos las relaciones entre producto, precio, costo, públicos, canales y alcances para evaluar la viabilidad</p>
          <a class="nav-link-4 btn btn-primary btn-sm" href="#Analisis" role="button">Conoce más</a>
        </div>
        <div class="col-lg-4 text-center">
        <svg class="bi bi-chat-dots" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z" clip-rule="evenodd"/><path d="M5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z"/></svg>
          <h3 class="py-4"> Planificación </h3>
          <p>Desarrollamos un plan de proyecto que incluye objetivos, presupuesto, cronograma e indicadores.</p>
          <a class="nav-link-4 btn btn-primary btn-sm" href="#Planificacion" role="button">Conoce más</a>
        </div>
        <div class="col-lg-4 text-center">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/></svg>
          <h3 class="py-4">Integración de equipos  </h3>
          <p>Buscamos y sumamos a las personas ideales para ejecutar el plan de proyecto. </p>
          <a class="nav-link-4 btn btn-primary btn-sm" href="#integracion" role="button">Conoce más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section  class="bg-light py-2" id="quehacemos-serv">
  <div class="primary-overlay">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-6 text-center">
        <svg class="bi bi-card-list" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5z" clip-rule="evenodd"/><circle cx="3.5" cy="5.5" r=".5"/><circle cx="3.5" cy="8" r=".5"/><circle cx="3.5" cy="10.5" r=".5"/></svg>
          <h3 class="py-4">Ejecución</h3>
          <p> Documentamos y llevamos a cabo cada etapa del plan.</p>
          <a class="nav-link-4 btn btn-primary btn-sm" href="#ejecucion" role="button">Conoce más</a>
        </div>
        <div class="col-lg-6 text-center">
        <svg class="bi bi-chat-dots" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z" clip-rule="evenodd"/><path d="M5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z"/></svg>
          <h3 class="py-4"> Evaluación </h3>
          <p>Analizamos la información documentada para recoger aprendizajes y realizar una mejora continua.</p>
          <a class="nav-link-4 btn btn-primary btn-sm" href="#evaluacion" role="button">Conoce más</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Nuestros Clientes-->

<section class=" py-5" id="clientes">
  <div class="primary-overlay">
    <div class="container">
      <h1 class="display-4 mt-5 pt-3 text-center"> Nuestros Clientes</h1>
      <div class="row text-center">
        <div class="col-md-3 py-5">
        <img src="assets/canopea.jpeg" alt="logo canopea" class="img-fluid mb-3" width="100" height="50">
        </div>  
        <div class="col-md-3 py-5">
        <img src="assets/cultura-jal.png" alt="logo cultura-jalisco" class="img-fluid mb-3" width="300" height="200">
        </div>
        <div class="col-md-3 py-5">
        <img src="assets/fil.jpg" alt="logo FIL" class="img-fluid mb-3" width="200" height="50">
        </div>
        <div class="col-md-3 py-5">
        <img src="assets/logo territorio.png" alt="logo de Territorio" class="img-fluid mt-4" width="1000" height="500">
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- Análisis -->

<section class="bg-light py-2" id="Analisis">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 mb-5 pb-5 pt-5 text-center"> Análisis </p>
        <p class="display-6 mt-5 mb-5 text-center">¿Es viable tu proyecto? ¿No estás segura por dónde empezar esa idea que tanto has pensado?</p>
        <p class="display-6 mt-5 mb-5 text-center">Como primera fase realizamos una investigación para identificar los actores principales, el público al que irá dirigido, si no existe algo igual, el territorio o canales donde será o podría ser realizado y otros detalles para aterrizar tu idea.
          <ul>
          <li>Se planea una reunión donde nos cuentes sobre tu proyecto y tus ideas de éste. </li>
          <li>Te hacemos una serie de preguntas que nos ayuden a entender mejor lo que pasa por tu cabeza. </li>
          <li>Realizamos una propuesta base para continuar con el siguiente paso que se revisará en conjunto para tener siempre la misma idea. Queremos hacer realidad y potenciar tu proyecto.</li>
          </ul>
          </p>
    </div>
  </div>
</section>

    <!-- Planificación -->
<section class="py-2" id="Planificacion">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 mb-5 pb-5 pt-5 text-center"> Planificación </p>
        <p class="display-6 mt-5 mb-5 text-center">¿Cuál es tu presupuesto? ¿Cuánto tiempo quieres que dure este proyecto? ¿Cuáles son los objetivos?</p>
        <p class="display-6 mt-5 mb-5 text-center">Después de la investigación sigue el proceso de planear el proyecto. Crear y tener claros los objetivos, a corto y largo plazo, proyectamos las metas y establecemos un plan de proyecto. Revisamos y/o creamos un presupuesto con lo que quieres gastar o buscas conseguir. Se aterrizan fechas y se crea un cronograma con cada etapa del proyecto.</p>
    </div>
  </div>
</section>

    <!-- Integración de equipos -->
<section class="bg-light py-2" id="integracion">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 mb-5 pb-5 pt-5 text-center"> Integración de equipos </p>
        <p class="display-6 mt-5 mb-5 text-center">	Contamos con una amplia agenda de contactos de profesionistas y personas talentosas que pueden colaborar para alcanzar resultados de calidad. Nosotros buscamos a quienes sean ideales para lo que tú necesitas en el tiempo y forma que se acordó en el plan de proyecto.</p>
    </div>
  </div>
</section>

    <!-- Ejecución -->
<section class="py-2" id="ejecucion">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 mb-5 pb-5 pt-5 text-center"> Ejecución </p>
        <p class="display-6 mt-5 mb-5 text-center">¿No tienes tiempo para llevar a cabo tu proyecto? ¿Buscas un equipo comprometido para hacerlo realidad?</p>
        <p class="display-6 mt-5 mb-5 text-center">Teniendo ya un equipo conformado, tú formarás parte del grupo que toma las decisiones ejecutivas, mientras nosotros nos encargamos de que se ejecute y se lleve a cabo cada parte del proyecto en las fechas que se acordaron en el cronograma. </p>
    </div>
  </div>
</section>

    <!-- Evaluación -->
<section class="bg-light py-2" id="evaluacion">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 mb-5 pb-5 pt-5 text-center"> Evaluación </p>
        <p class="display-6 mt-5 mb-5 text-center">	¿Cuáles fueron los resultados del proyecto? ¿Cómo puede mejorar? ¿Se puede replicar?</p>
        <p class="display-6 mt-5 mb-5 text-center">Documentar, medir o evaluar y aprender de la información es la forma más efectiva de cerrar exitosamente un proyecto, ya sea para proyectarlo hacia su próxima fase o para compartirlo con otras personas. Realizamos una evaluación con todo lo ya documentado desde el análisis y hasta la ejecución. </p>
    </div>
  </div>
</section>


    <!-- Cotiza -->
<section class=" py-5" id="cotiza">
  <div class="row">
    <div class="container">
    
      <h1 class="display-4 mt-5 pt-3 text-center"> Cotiza con nosotros</h1>
      <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
      <form class="py-5">
        <div class="form-group">
          <label for="exampleFormControlInput1">Correo Electrónico </label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Estoy interesado en el servicio de </label>
          <select class="form-control" id="exampleFormControlSelect1">
          <option>Identidad Verbal</option>
          <option>Estrategia Verbal</option>
          <option>Contenido Verbal</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Cuéntanos sobre tu proyecto</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
      <button type="button" class="btn btn-primary" >Enviar</button>
    </div>
  </div>
</section>