@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #136bab !important;
    box-shadow: 2px 2px 5px #3292a6;
    background: #fff;
}

.nav-link{
    color: white !important;
}

#home-container{
    margin-top: 0px;;
}

#homeeducation{
  background: url("prueba.jpg");
  min-height: 600px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  opacity: 0.9;
}



  #homeradio{
    background: url("prueba2.jpg");
  min-height: 600px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  opacity: .8;
  }
   
  #homeservicios{
    background: url("servicios.jpg");
  min-height: 600px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  opacity: .7;
}

/*
  -webkit-filter: grayscale(100%);  Chrome, Safari, Opera 
  filter: grayscale(100%);
*/
  


#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}



/* Centered text */
.carousel-caption {
  position: absolute;
  color: ghostwhite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image{
  height: 400px;
  width: 400px;
}

.carousel-indicators{
  color:black;
}

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }