@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: white !important;
    box-shadow: 0px 1px 2px #333333;
    background: #fff;

}

.navbar-brand{
color: black !important;
}

.nav-link{
  color: black !important;
}
.nav-link-3{
  font-weight: bold;
  margin-left: 1em;
}
#punchline{
  text-align: center;
}


#home-container{
    margin-top: 0px;;
}

.carousel-image-1{
    background-image: asset-url('pen.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 465px;
}

.carousel-image-2{
  background-image: asset-url('casete.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
}

.carousel-image-3{
  background-image: asset-url('newbackground.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
}

.carousel-image-4{
  background-image: asset-url('home.jpg');

}

.carousel-image-5{
  background-image: asset-url('study2.jpg');

}

.carousel-image-6{
  background-image: asset-url('study3.jpg');

}

.carousel-image-7{
  background-image: asset-url('workwu.jpg');

}

.carousel-image-8{
  background-image: asset-url('radio2.jpg');

}

.carousel-image-9{
  background-image: asset-url('radio3.jpg');

}
.card{
  text-align: center;
}

.button-test{
  margin:auto;
  display:block;
}

.carousel-item {
  height: 450px;
}
#homeeducation{
  background: url("prueba.jpg");
  min-height: 600px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  opacity: 0.9;
}



  #homeradio{
    background: url("prueba2.jpg");
  min-height: 600px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  opacity: .8;
  }
   
  #homeservicios{
    background: url("servicios.jpg");
  min-height: 600px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 465px;
  opacity: .7;
}

/*
  -webkit-filter: grayscale(100%);  Chrome, Safari, Opera 
  filter: grayscale(100%);
*/
  


#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}



/* Centered text */
.carousel-caption {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image{
  height: 400px;
  width: 400px;
}



.carousel-indicators{
  color:green !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }


  /* Section 6 */

  body{margin-top:20px;}

  .align-center {
      text-align: center;
  }
  .hash-list {
      display: block;
      padding: 0;
      margin: 0 auto;
  }
  
  @media (min-width: 768px){
      .hash-list.cols-3 > li:nth-last-child(-n+3) {
          border-bottom: none;
      }
  }
  @media (min-width: 768px){
      .hash-list.cols-3 > li {
          width: 33.3333%;
      }
  }
  .hash-list > li {
      display: block;
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .pad-30, .pad-30-all > * {
      padding: 30px;
  }
  img {
      border: 0;
  }
  .mgb-20, .mgb-20-all > * {
      margin-bottom: 20px;
  }
  .wpx-100, .wpx-100-after:after {
      width: 100px;
  }
  .img-round, .img-rel-round {
      border-radius: 50%;
  }
  .padb-30, .padb-30-all > * {
      padding-bottom: 30px;
  }
  
  .mgb-40, .mgb-40-all > * {
      margin-bottom: 40px;
  }
  .align-center {
      text-align: center;
  }
  [class*="line-b"] {
      position: relative;
      padding-bottom: 20px;
      border-color: #E6AF2A;
  }
  .fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
      color: #222;
  }
  .font-cond-b {
      font-weight: 700 !important;
  }
  /* Ends Section 6 */
